{subtemplate header}
<div class="container">
	<div id="foruminfo">
		<div id="nav"><a href="$indexname">$bbname</a> &raquo; <a href="rankgroup_admin.php">$lang['rankgroup_manager']</a>&raquo;$lang['rankgroup_info_edit']</div>
	</div>
	
	
	
	<div class="content">
	<div class="mainbox formbox">


	<h1>$lang['rankgroup_info_edit']</h1>
	<form method="post" action="rankgroup_admin.php?action=editsave">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<input type="hidden" name="id" value="$rankgroup_info['id']" />
	<input type="hidden" name="gid" value="$rankgroup_info['gid']" />
	<table cellspacing="0" cellpadding="0" width="100%" align="center">
	<!--{if $rankgroup_info['gid']=='0'}-->
	<thead>
		<tr>	
		<td width="20%" align="center">$lang['rankgroup_groupsname']</td>
		<td width="10%" align="center">$lang['rankgroup_imgurl']</td>
		<td width="5%" align="center">$lang['rankgroup_active_no']</td>
		<td width="5%" align="center">$lang['rankgroup_active_yes']</td>
		<td></td>
		</tr>
	</thead>
	<tbody>
			<tr>
			<td width="20%" align="center">
			<input type="text" name="rankgroup_gname" value="$rankgroup_info['gname']"/></td>
			<td width="20%" align="center">
			<input type="text" name="imgurl" value="$rankgroup_info['imgurl']"/></td>
			<!--{if $rankgroup_info['closed'] == '1'}-->
			<td width="5%" align="center"><input type="radio" name="active" value="0"/></td>
			<td width="5%" align="center"><input type="radio" name="active" value="1" checked=""/></td>
			<!--{else}-->
			<td width="5%" align="center"><input type="radio" name="active" value="0" checked=""/></td>
			<td width="5%" align="center"><input type="radio" name="active" value="1"/></td>
			<!--{/if}-->
			<td></td>
			</tr>
	</tbody>
	<!--{else}-->

		<thead>
		<tr>	
		<td width="20%" align="center">$lang['rankgroup_groupsname']</td>
		<td width="8%" align="center">$lang['rankgroup_level']</td>
		<td></td>
		</tr>
	</thead>
	<tbody>
			<tr>
			<td width="20%" align="center">
			<input type="text" name="rankgroup_gname" value="$rankgroup_info['gname']"/></td>
			<td width="5%" align="center">
			<select name="rankid">
			<option value="$rankgroup_info['rankid']">$ranktitle</option>
			<!--{loop $ranks_level $ranks}-->
			<option value="$ranks['rankid']">$ranks['ranktitle']</option>
			<!--{/loop}--></select></td>
			<td></td>
			</tr>
	</tbody>
	<!--{/if}-->
	<tr class="btns">
	<td colspan="6"><button class="submit" type="submit" name="rankgroup_edit" id="rankgroup_edit" value="true" tabindex="1">{lang submit}</button></td></tr>
	</table>
	</form>

	</div>
	</div>
	
	
	<div class="side">
		{subtemplate personal_navbar}
	</div>
</div>
{subtemplate footer}