{subtemplate header}
<div class="container">
	<div id="foruminfo">
		<div id="nav"><a href="$indexname">$bbname</a> &raquo; $lang['rankgroup_manager']</div>
	</div>
	
	
	
	<div class="content">
	<div class="mainbox formbox">

	
	<h1>$lang['rankgroup_del_result']</h1>
	<table summary="$lang['rankgroup_edit']" cellspacing="0" cellpadding="0" width="100%" align="center">
	<thead>
		<tr>
		<td></td>
		<td width="20%" align="center">$lang['rankgroup_groupsnum']</td>
		<td width="20%" align="center">$lang['rankgroup_sonsnum']</td>
		<td></td>
		</tr>
	</thead>
	<!--{if $no_rankgroupid }-->
	<tbody>
		<tr>
		<td colspan="4" align="center">$lang['rankgroup_groupid_no']</td></tr>
	</tbody>
	<!--{else}-->
	<tbody>
		<tr>
		<td></td>
		<td width="20%" align="center">
		<!--{if $rows['0'] == '0' }-->
		$lang['rankgroup_groupsnum_no']
		<!--{else}-->
		$rows['0']
		<!--{/if}-->
		</td>
		<td width="20%" align="center">
		<!--{if $rows['1'] == '0' }-->
		$lang['rankgroup_groupsnum_no']
		<!--{else}-->
		$rows['1']
		<!--{/if}-->
		</td>
		<td></td>
		</tr>
		<tr class="btns">
		<td colspan="4"></td>
	</tbody>
	<!--{/if}-->
	<tr class="btns">
	<td colspan="4"><a href="rankgroup_admin.php">[ {lang go_back} ]</a></td>
	</table>
	</div>
	</div>
	
	
	<div class="side">
		{subtemplate personal_navbar}
	</div>
</div>
{subtemplate footer}